<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buscar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar placeholder="Buscar película"
                 animated
                 debounce="700"
                 [value]="textoBuscar"
                 (ionChange)="buscar($event)"></ion-searchbar>
</ion-toolbar>

<ion-content [fullscreen]="true">

  <ion-grid *ngIf="buscando">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6"
               *ngFor="let pelicula of peliculasBuscadas">

        <ion-card (click)="detalle( pelicula.id )">
          <img [src]="pelicula.poster_path | poster">

          <ion-card-header class="ion-text-center">
            <ion-card-subtitle> {{ pelicula.release_date | date:'yyyy' }} </ion-card-subtitle>
            <ion-card-title>{{ pelicula.title }}</ion-card-title>
          </ion-card-header>



        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-list-header>
      <ion-label>Sugerencias</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-badge class="m-1"
                 color="secondary"
                 *ngFor="let item of sugerencias"
                 (click)="textoBuscar = item">{{item}}</ion-badge>
    </ion-item>


  </ion-list>


</ion-content>